# EditorConfig is awesome: http://EditorConfig.org
root = true

# Global Defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

# JSON
[*.json]
indent_size = 2

# PHP
[*.{php,phtml}]
indent_size = 4

# JavaScript / jQuery
[*.js]
indent_size = 2

# HTML, Twig
[*.{html,htm,twig}]
indent_size = 2

# CSS / Extended CSS
[*.{css,scss,sass}]
indent_size = 2

# Shell Scripts
[*.{sh,bat}]
indent_size = 2